*{
    font-family: tahoma;
    background-color: gray;
    
}
@media (min-width: 768px) and (max-width: 1199px){
    *{
        width: 560px;
    }
}
#main-doc{
    position: relative;
    left: 20px;
    top: 40px;
    flex-wrap: nowrap;
 } 

#navbar{
    color: #fff;
}
a{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    

}
a:hover{
    color: black;
    cursor: pointer;
}
code{
    background-color: #fff;
    box-sizing: border-box;
    width: 80px;
}
section li{
    margin: 15px 0px 0px 20px;
}

header{
    font-size: 35px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}
nav header{
    padding-bottom: 30px;
}