*{
    font-family: tahoma;
    background-color: gray;
    
}
@media (min-width: 768px) and (max-width: 1199px){
    *{
        width: 560px;
    }
}
#main-doc{
    position: relative;
    left: 20px;
    top: 40px;
 } 

#navbar{
    color: #fff;
    padding-bottom: 30px;
}
a{
    
    color: #fff;
    text-decoration: none;
    

}
a:hover{
    color: blueviolet;
    cursor: pointer;
}
code{
    background-color: #fff;
    box-sizing: border-box;
    width: 80px;
}